<html>
	<head>
		<title>{% block title %}Untitled{% endblock %}</title>
		<style>
			body {
				background: #fb54aa;
				font-family: Verdana, Tahoma;
				font-size: 10pt;
			}
			#content {
				padding-left: 10pt;
				padding-right: 10pt;
				padding-top: 5pt;
				padding-bottom: 5pt;
				background: white;
			}
			.title {
				font-size: 20pt;
				padding: 3px;
				background: silver;
			}
		</style>
		<style>
			{% block style %}{% endblock %}</title>
		</style>
	</head>
	<body>
		<div id="content">
		{% block body %}
		{% endblock %}
		</div>
	</body>
</html>


