{% extends "base.html" %}
{% block title %}Check and run: {{ dp.package.name }}{% endblock %}
{% block head %}<meta http-equiv="refresh" content="5;url={% url "portal:checkrun" dp_id=dp.id %}">{% endblock %}

{% block body %}
<h1 class="title">Check and run: {{ dp.package.name }}</h1>

<p>Report for: <b>{{ dp }}</b>.</p>

<p>Newly deployed service instances:</p>

<ul>
	{% for r in list_new %}
	<li>{{ r.0.service.name }} : <span title="{{ r.0.guid }}">{{ r.0.hostname }} ({{ r.0.address }})</span> [{{ r.0.get_state_display }}] | <i>{{ r.1 }}</i></li>
	{% endfor %}
</ul>


<p>Service instances which are starting up:</p>

<ul>
	{% for r in list_starting %}
	<li>{{ r.service.name }} : <span title="{{ r.guid }}">{{ r.hostname }} ({{ r.address }})</span> [{{ r.get_state_display }}]</li>
	{% endfor %}
</ul>

<p>Service instances which are running:</p>

<ul>
	{% for r in list_running %}
	<li>{{ r.service.name }} : <span title="{{ r.guid }}">{{ r.hostname }} ({{ r.address }})</span> [{{ r.get_state_display }}]</li>
	{% endfor %}
</ul>

<p><a href="{% url "portal:index" %}">Return to start page</a>.</p>

{% endblock %}
