{% extends "base.html" %}
{% block title %}Check and run: {{ dp.package.name }}{% endblock %}

{% block body %}
<h1 class="title">Check and run: {{ dp.package.name }}</h1>

<p>Report for: <b>{{ dp }}</b>.</p>

<ul>
	{% for r in result %}
	<li>{{ r.0.service.name }} : <span title="{{ r.0.guid }}">{{ r.0.hostname }} ({{ r.0.address }})</span> [{{ r.0.get_state_display }}] | <i>{{ r.1 }}</i></li>
	{% endfor %}
</ul>

<p><a href="{% url "portal:index" %}">Return to start page</a>.</p>

{% endblock %}
