{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block body %}
<h1 class="title">Self-service portal demo</h1>

<form action="{% url "portal:launch" %}" method="POST">
{% csrf_token %}
<p>Available packages:</p>
<table border="0">
	{% for p in packages %}
	<tr><td title="{{ p.service_set.all|escape }}">{{ p.name }}</td><td><button type="submit" name="package_id" value="{{ p.pk }}">Launch package</button></td></tr>
	{% endfor %}
</table>
</form>

<pre>
{{ out }}
</pre>

{% endblock %}

